.date {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.latest {
  background-color: rgb(220, 213, 213);
}
.latest-news {
  font-weight: 600;
}
.login {
  font-weight: 600;
}
